input[type=text] {
	width: 100% !important;
	padding: 12px 20px !important;
	margin: 8px 0 !important;
	display: inline-block !important;
	border: 1px double #ccc !important;
	border-radius: 4px !important;
	box-sizing: border-box !important;
}
input[type="checkbox"] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: auto;
    appearance: auto;
    box-sizing: border-box;
    margin-left: 3px;
    padding: initial;
    border: initial;
    width: 20px;
    height: 18px;
}

.checkbox_stl:hover span{
	background-color: #b2d7f1;
    border-radius: 30px !important;
    /* width: 20px; */
    /* height: 20px; */
    border: 1px solid #82c1f7 !important;
    padding: 4px;
	
}
.is_checked{
	text-decoration: line-through !important;
}

html {
	height: 100% !important;
	margin: 0 !important;
}
body {
	height: 100% !important;
	margin: 0 !important;
}
.wrapper {
	display: flex !important;
	flex-direction: column !important;
}
.header {
	background: #ccc !important;
	height: 60px !important;
}
.footer {
	background: #ccc !important;
	height: 60px !important;
}
.content {
	flex: 1 !important;
	overflow: auto !important;
	background: white !important;
	padding-left: 50px !important;
	padding-right: 50px !important;
}
.content-blk {
	height: 669px !important;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
	transition: 0.3s !important;
	&:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
	}
}
.div_padding {
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.span_padding {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.foot_container {
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	height: 50px !important;
}
.list_stl {
	display: flex;
	align-items: center ;
	// height: 30px !important;
    border-bottom: 1px solid #cfcfcf !important;
    padding:14px;
}
.ml-1{
	margin-left: 1rem;
}
.padding {
	padding-right: 20px !important;
	padding-left: 20px !important;
	padding-top: 7px !important;
}
.div_mrging {
	margin-right: 10px !important;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}
.cursor {
	cursor: pointer;
}
.ht560 {
	height: 560px !important;
}
.srl_auto {
	overflow: auto !important;
}
