input[type=text] {
  width: 100% !important;
  padding: 12px 20px !important;
  margin: 8px 0 !important;
  display: inline-block !important;
  border: 1px double #ccc !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
}

html,
body {
  height: 100% !important;
  margin: 0 !important;
}

.wrapper {
  display: flex !important;
  flex-direction: column !important;
}

.header,
.footer {
  background: #ccc  !important;
  height: 60px !important;
}

.content {
  flex: 1 !important;
  overflow: auto !important;
  background: white !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.content-blk {
  height: 669px !important;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s !important;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

.div_padding {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.span_padding {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.foot_container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  height: 50px !important;
}

.list_stl {
  height: 30px !important;
  border-bottom: 1px double !important;
}

.padding {
  padding-right: 20px !important;
  padding-left: 20px !important;
  padding-top: 7px !important;
}

.div_mrging {
  margin-right: 10px !important;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.cursor {
  cursor: pointer;
}

.ht560 {
  height: 560px !important;
}

.srl_auto {
  overflow: auto !important;
}